@model Parcial1.Models.Caida

@{
    ViewData["Title"] = "Calcular caída";
}

<div class="text-center">
    <h1>Calcular caída de dato</h1>

    <form asp-controller="Caida" asp-action="CaidaCalcular">
        <br>
        <img src="https://www.youphysics.education/wp-content/uploads/es/vectores-posicion-velocidad-y-aceleracion/problemas-de-vectores-rva/vectores-rva-problema-6/P6-Mono.png" class="img-thumbnail" style="width:100px;" alt="caida" />
        <br><br>
        <label>Ingrese la altura <br><p class="text-muted">(el dato será recibido en metros)</p></label>
        <br>
        <input asp-for="Dato" class="form-control">
        <br>
        <input type="submit" value="CaidaCalcular" class="btn btn-success">
    </form>
    <br>
    <td class="h6">@Html.DisplayNameFor(model => model.Result)</td>
    <td class="h6"><b class="h5">@Html.DisplayTextFor(model => model.Result)</b></td>

    <br><br><br><br><br>
    <p class="lead"><b>Eduardo Enrique Rodríguez Rodríguez | 240055 </b><br> Tec.Desarrollo de Software | PARCIAL PROGRAMACION III</p>

</div>
